
@model String
    @{ 
        IEnumerable<SelectListItem> regions = ViewBag.PossibleRegions;
    }
<div class="dropdown" >
    @*@Html.Label("", new { @class = "col-md-2 control-label" })*@
    <div class="col-md-10" name="News">
        @Html.DropDownList("", regions, "- Please select your time zone -", new { @class = "form-control" })
    </div>
</div>