
@using MVC_Demo.Models
@model HeroViewModel
@{
    ViewBag.Title = "Accepted";
    var foo = 23;
}

<h2>Registration for @Model.HeroName accepted!</h2>

<h3>Information:</h3>
<div>
    @Html.DisplayForModel()
</div>