
@{
    ViewBag.Title = "Index";
}

<h2>Hero Registration</h2>
<h6>Please fill out the form below</h6>

<div class="hero-form">
    @using (Html.BeginForm())
    {
        <input type="submit" />
    }
</div>
