@using MVC_Demo.Models
@model FormModel
@{
    ViewBag.Title = "GenericForm";
}

<h2>GenericForm</h2>
<h4>@ViewBag.Message</h4>

<h6>Form:</h6>
@using (Html.BeginForm("SubmitForm", "HomeControllers"))
{

    <p>Name:</p>
    @Html.TextBoxFor(m => m.name, new { @class = "form-controll" })



    @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
    <input type="submit" class="btn btn-default" value="Sumbit" />
}