@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Become A Hero Today</h1>
    <p class="lead">The Hero Association needs C, B, A, and S rank heros to help save the world from monsters.</p>
    <p>
        @Html.ActionLink("Hero Registration", "HeroRegistration", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
